html {
  scroll-behavior: smooth !important;
}
body {
  scroll-behavior: smooth !important;
}



/* IWD- 240206 */
a.callbuttons {
	background-color: #4679e5;
	padding: 10pt 20pt;
	border-radius: 20pt;
	width: max-content;
	margin: 0;
}
