html {
  scroll-behavior: smooth !important;
}
body {
  scroll-behavior: smooth !important;
}



/* IWD - 240206 - PHONE BUTTONS */
a.callbuttons {
	background-color: #4679e5;
	border-radius: 20pt;
	color: #fff;
	margin: 0 0 -30px;
	min-width: 160pt;
	padding: 10pt 20pt;
	width: -moz-max-content;
	width: -webkit-max-content;
	width: max-content;
	font-size: 18px;
}
a.callbuttons:hover {
	background-color: #4679e5cc;
	background: linear-gradient(123.18deg,#e7f0ff -9.87%,#3f73e1 97.95%) padding-box,linear-gradient(123.18deg,#e7f0ff -9.87%,#3f73e1 97.95%) border-box;
}
#HDRminibuttons a.callbuttons {
	font-size: 12px;
	margin: 0 5px;
	font-weight: bold;
	padding: 7pt 14pt;
	border-radius: 14pt;
	/* width: 100%; */
	/* display: block; */
}


/* IWD - 240206 - HERO PHONE BUTTONS */
.mb-6.hero_section_rich_text a {
	background-color: #4679e5;
	border-radius: 20pt;
	color: #fff;
	font-size: 18px;
	margin: 30px 0 1px;
	padding: 9pt 20pt;
	display: inline-block;
}
.mb-6.hero_section_rich_text a:hover {
	background-color: #4679e5cc;
	background: linear-gradient(123.18deg,#e7f0ff -9.87%,#3f73e1 97.95%) padding-box,linear-gradient(123.18deg,#e7f0ff -9.87%,#3f73e1 97.95%) border-box;
}

